/* Esikatselukuvien suurentaminen */
.image-gallery-thumbnail {
    width: 150px;
    height: auto; 
    padding: 0px !important;
  }
  
  .image-gallery-thumbnail img {
    object-fit: cover;
  }
  
  /* Nuolipainikkeiden parannettu tyylittely */
  .image-gallery-icon {
    width: 40px !important;
    height: 40px !important;
    color: #244855 !important;
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    transition: none !important;
    filter: none !important;
    outline: none !important;
  }

  .image-gallery-icon:hover,
  .image-gallery-icon:active,
  .image-gallery-icon:focus {
    background: transparent !important;
    border: none !important;
    filter: none !important;
    outline: none !important;
    transform: none !important;
  }

  /* Vasemman nuolen sijoitus */
  .image-gallery-left-nav {
    left: 20px !important;
    padding: 0 !important;
  }

  /* Oikean nuolen sijoitus */
  .image-gallery-right-nav {
    right: 20px !important;
    padding: 0 !important;
  }

  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    width: 40px !important;
    height: 40px !important;
  }
  
  /* Responsiivinen suunnittelu */
  @media (max-width: 767px) {
    .image-gallery-thumbnail {
      width: 70px;
    }
    
    .image-gallery-icon { 
      width: 30px !important;
      height: 30px !important;
    }

    .image-gallery-left-nav {
      left: 10px !important;
    }

    .image-gallery-right-nav {
      right: 10px !important;
    }

    .image-gallery-left-nav .image-gallery-svg,
    .image-gallery-right-nav .image-gallery-svg {
      width: 30px !important;
      height: 30px !important;
    }
  }

  .image-gallery-svg {
    stroke: #244855 !important;
    stroke-width: 2 !important;
  }